<h2>Anforderung</h2>
<p>
Daten und Begleitmaterialen werden im Projektverlauf (und so weit nötig darüber hinaus) systematisch gespeichert, in einem Zugriffsgeschützten Back-Up-System gesichert und ihre Nutzbarkeit gewährleistet.
</p>

<h2>Erläuterung zur Anforderung</h2>
<p>
Ziel einer systematischen Datenorganisation ist der Schutz der Daten und Begleitmaterialien vor versehentlichem Verlust, Verändern, Überschreiben etc. sowie die Sicherstellung der Zugänglichkeit der Materialien für alle Projektbeteiligten. Dies geht einher mit einer adäquaten Strategie zur Speicherung der Daten und Begleitmaterialien, entsprechend den Bedarfen und Möglichkeiten des Projekts.
</p>

<h2>Die Projektbeteiligten entwickeln</h2>
<li>Aa	bereits in der Projektplanungsphase ein Konzept zur Organisation von Daten und Begleitmaterialien im Projektverlauf, inklusive eindeutiger Regelungen zur Speicherung, Benennung, Versionierung von Daten und Begleitmaterialien im Projekt,</li>
<li>Ba	ein Back-Up-Verfahren zur Sicherung der Daten und Begleitmaterialien vor versehentlichem Verlust etc.,</li>
<li>Ca	ein Konzept für ein Vernichtungsmanagement für Daten und Begleitmaterialien, die nicht länger benötigt werden bzw. aufgrund rechtlicher Auflagen oder Vorgaben Dritter gelöscht werden müssen.</li>
