<script>
    $(document).ready(function() {
        init();
        run_display_or_hide_observer();
    });

    function run_display_or_hide_observer() {
        const target = document.querySelector('.content');
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                display_or_hide_requirements();
            });
        });

        observer.observe(target, {
            attributes: true,
            childList: true,
            characterData: true,
            subtree: true
        });
        // observer.disconnect();
    }

    function display_or_hide_requirements() {
        var el = $('.ddp_requirements_display');
        var el_text = el.text().trim();
        var h2_text = $('.project-questions-form h2').text().trim();
        if (h2_text.endsWith(el_text)) {
            $('.ddp_requirements_text').css('display', 'block')
        } else {
            $('.ddp_requirements_text').css('display', 'none')
        }
    }

    function init() {
        const target = document.querySelector('.ddp_requirements_text');
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                render_requirements_into_code();
            });
        });

        observer.observe(target, {
            attributes: false,
            childList: false,
            characterData: true,
            subtree: true
        });
        // observer.disconnect();
    }

    function render_requirements_into_code() {
        var el = $('.ddp_requirements_text');
        var el_text = el.text().trim();
        var mod_no = match_first_no(el_text);
        fetch('/static/ddp_requirements/m' + mod_no + '.html')
            .then(function(response) {
                return response.text()
            })
            .then(function(html) {
                el.empty();
                el.append(html);
                el.append('<br>');
            })
            .catch(function(err) {
                console.log('Failed to fetch page: ', err);
            });
    }

    function match_first_no(str) {
        var no = null;
        var no_arr = str.match(/[0-9]+/);
        if (no_arr !== null) {
            if (no_arr.length > 0) {
                no = no_arr[0];
            }
        }
        return no
    }
</script>
