.ng-binding.form-label {
    font-weight: normal;
}

div[ng-hide*="questionset.id"] strong[class="ng-binding"] {
    font-weight: normal;
}

.col-md-12 .help-text {
    left: 35%;
    position: relative;
    max-width: 65%;
    text-align: right;
    font-style: italic;
}

ul.list {
    padding: 0px;
    list-style-type: none;
}

li>p.no {
    float: left;
    margin-right: 6px;
    font-weight: 700;
    list-style-type: none;
}
