.ng-binding.form-label {
    font-weight: normal;
}

div[ng-hide*="questionset.id"] strong[class="ng-binding"] {
    font-weight: normal;
}

.questions div[class*="col-md-"] .help-text :not(.purehtml):not(.purehtml *) {
    /* left: 20%; */
    position: relative;
    /* max-width: 80%; */
    text-align: right;
    font-style: italic;
}

ul.list {
    padding: 0px;
    list-style-type: none;
}

li>p.no {
    float: left;
    margin-right: 6px;
    font-weight: 700;
    list-style-type: none;
}

#mandatory_box {
    color: #fff;
    background-color: #337ab7;
    padding: 10px;
    max-width: 220px;
    position: absolute;
    display: none;
    box-shadow: 2px 2px 4px #000;
    z-index: 10;
}

.mandatory_field {
    display: inline-block;
    width: 12px;
    margin-left: 5px;
    color: #337ab7;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -0.5em;
    font-size: 90%;
    font-style: italic;
    cursor: pointer;
}
