span.glossary {
    border-bottom: 1px dashed #43494a;
    font-style: italic;
}

#glossary_info {
    color: #fff;
    background-color: #337ab7;
    padding: 10px;
    max-width: 220px;
    position: absolute;
    display: none;
    box-shadow: 2px 2px 4px #000;
}
